<div class="banner"></div>
<h1 class="display-3">Feedback</h1>
<div class="card col">
    <div class="card-body">
      <h3 class="card-title">Feedback Form</h3>
      <p class="card-text">Please give back your feedback in this form.</p>
      <form action="" class="card-body">
        <label for="content">Content</label>
        <input type="text" name="" class="form-control">
        <label for="email">Email</label>
        <input type="email" name="" class="form-control">
      </form>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>